* {
	font-family			: "Droid Sans Mono","FreeMono","Courier New", monospace;
}

h3.logo {
	position	: absolute;
	color		: #FFFFFF;
	margin-left	: 40px;
	margin-top	: -30px;
	line-height	: 20px;
}
.navbar-inverse .navbar-inner {
	background-color	: #000000;
	background-image	: none;
	border-color		: #000000;
}

#menu {
	font-size:.892em;
}

#menu > ul {
	border-bottom: 1px dashed #FFFFFF;
}

#menu .nav > li {
	display:inline-block;
}

#menu .nav li:last-child > ul {
	margin-left: -130px;
}

#menu .nav > li > a,
.dropdown-menu li > a {
	color		: #FFFFFF;
	text-shadow	: none;
}

#menu .nav li > a > span {
	float:right;
}

#menu .nav > li > a:hover,
.dropdown-menu li > a:hover,
#menu .nav > li > a:focus,
.dropdown-menu li > a:focus,
#menu .nav li.dropdown.open > .dropdown-toggle,
#menu .nav li.dropdown.active > .dropdown-toggle,
#menu .nav li.dropdown.open.active > .dropdown-toggle {
	background-color	: #FFFFFF;
	color				: #000;
}

#menu .nav > li > a {
	padding: 0;
}
#menu .nav > li {
	padding: 10px 15px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background-color	: #FFFFFF;
	background-image	: none;
	color				: #000000;
	text-decoration		: none;
}

.dropdown-menu {
	background-clip		: none;
	background-color	: #000000;
	border				: 1px solid #FFFFFF;
	border-radius		: 0;
	box-shadow			: none;
	list-style			: none outside none;
	margin				: 0;
	padding				: 0;
}

#menu .nav > li > .dropdown-menu:after,
#menu .nav > li > .dropdown-menu:before {
	border-bottom	: none;
	border-left		: none;
	border-right	: none;
}

.dropdown-menu li {
	padding: 1px 10px;
}

.dropdown-menu li > a {
	padding: 1px 10px;
	white-space: nowrap;
}

.dropdown-menu .divider {
	background-color	: #000000;
	border-bottom		: 1px dashed #FFFFFF;
	height				: 1px;
	margin				: 0 10px;
	overflow			: hidden;
}

.dropdown-menu {
	list-style: none outside none;
}

.open > .dropdown-menu {
	margin-top: 10px;
}

#monitor {
	min-height			: 600px;
	height				: 600px;
	min-width			: 800px;
	width				: 800px;
	border				: 40px solid gray;
	border-radius		: 10px;
	background-color	: #000000;
	color				: #FFFFFF;
}

#display {
	padding		: 0 10px;
	border		: 1px solid white;
	min-height	: 600px;
	max-height	: 600px;
}

.f2 {
	min-width	: 200px;
	width		: 200px;
}

#workarea {
	min-height	:450px;
	height		:450px;
	max-height	:450px;
}

#status {
	border-top: 1px dashed #FFFFFF;
}

#status table {
	width: 100%;
}

#status table td {
	width: 33%;
}

