* {
	font-family			: "Droid Sans Mono","FreeMono","Courier New", monospace;
}

h3.logo {
	position	: absolute;
	color		: #FFFFFF;
	margin-left	: 40px;
	margin-top	: -30px;
	line-height	: 20px;
}
.navbar-inverse .navbar-inner {
	background-color	: #000000;
	background-image	: none;
	border-color		: #000000;
}

#menu {
	font-size:.892em;
}

#menu > ul {
	border-bottom: 1px dashed #FFFFFF;
}

#menu .nav > li {
	display:inline-block;
}

#menu .nav li:last-child > ul {
	margin-left: -130px;
}

a,
.dropdown-menu li > a {
	color				: #FFFFFF;
	background-color	: #000000;
	text-shadow			: none;
}

#menu .nav li > a > span {
	float:right;
}

a:hover,
a:focus,
#menu .nav > li > a:hover,
.dropdown-menu li > a:hover,
#menu .nav > li > a:focus,
.dropdown-menu li > a:focus,
#menu .nav li.dropdown.open > .dropdown-toggle,
#menu .nav li.dropdown.active > .dropdown-toggle,
#menu .nav li.dropdown.open.active > .dropdown-toggle {
	background-color	: #FFFFFF;
	color				: #000;
	text-decoration		: none;
}

#menu .nav > li > a {
	padding: 0;
}
#menu .nav > li {
	padding: 10px 15px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background-color	: #FFFFFF;
	background-image	: none;
	color				: #000000;
	text-decoration		: none;
}

.dropdown-menu {
	background-clip		: none;
	background-color	: #000000;
	border				: 1px solid #FFFFFF;
	border-radius		: 0;
	box-shadow			: none;
	list-style			: none outside none;
	margin				: 0;
	padding				: 0;
}

#menu .nav > li > .dropdown-menu:after,
#menu .nav > li > .dropdown-menu:before {
	border-bottom	: none;
	border-left		: none;
	border-right	: none;
}

.dropdown-menu li {
	padding: 1px 10px;
}

.dropdown-menu li > a {
	padding: 1px 10px;
	white-space: nowrap;
}

.dropdown-menu .divider {
	background-color	: #000000;
	border-bottom		: 1px dashed #FFFFFF;
	height				: 1px;
	margin				: 0 10px;
	overflow			: hidden;
}

.dropdown-menu {
	list-style: none outside none;
}

.open > .dropdown-menu {
	margin-top: 10px;
}

#monitor {
	min-height			: 600px;
	height				: 600px;
	min-width			: 800px;
	width				: 800px;
	border				: 40px solid gray;
	border-radius		: 10px;
	background-color	: #000000;
	color				: #FFFFFF;
}

#display {
	padding		: 0 10px;
	border		: 1px solid white;
	min-height	: 600px;
	max-height	: 600px;
}

.f2 {
	min-width	: 200px;
	width		: 200px;
}

#workarea {
	min-height	:450px;
	height		:450px;
	max-height	:450px;
}

#workarea > * {
	background:#000000;
}

#status {
	border-top: 1px dashed #FFFFFF;
}

#status table {
	width: 100%;
}

#status table td {
	width: 33%;
}

.modal {
	left		: 50px;
	margin		: 0;
	outline		: 1px solid #fff;
	position	: relative;
	top			: 0;
}

.modal-header {
	margin-top	:-12px;
	margin-left	: 230px;
	padding		: 0 5px;
	z-index:2000;
}

.modal-header {
	border		: none;
	padding		: 0;
	background-color: #000000;
}

.modal-body {
	padding:0;
}

.modal-body table {
	width:100%;
}

tr.dotted {
	border-top		: 1px dotted #FFFFFF;
	border-bottom	: 1px dotted #FFFFFF;
}

.modal-footer {
	border-radius	: 0;
	border-top		: 0;
	box-shadow		: none;
	margin-bottom	: 0;
	padding			: 0;
}

button.btn,
button.btn:hover,
button.btn:focus,
button.btn.active,
button.btn.active:hover,
button.btn.active:focus {
	color				: #FFFFFF;
	text-shadow			: none;
	background-color	: #000000;
}

button.btn.active span.text {
	text-decoration	: underline;
}

button.btn.active span.delimiter {
	text-decoration	: none;
}
button.btn {
	background		: none;
	box-shadow		: none;
}

.btn {
	padding: 4px 2px;
}

tr.active .btn-group button.btn.active span.text {
	color				:#000000;
	background-color	:#FFFFFF;
}

tr.active a {
	color				:#000000;
	background-color	:#FFFFFF;
}